html {
  height: 100%;
}

body {
  min-height: 100%;
  overflow: hidden;
}

.totalContain {
  height: 100vh;
}

.box {
  margin: 0 auto;
  border: 0;
  padding: 0;
  width: 100%;
  height: 100%
}

.testy {
  background-color: black;
  height: 100vh;
}

.modalBack {
  position: fixed;
  opacity: .5;
  z-index: 1000 !important;
  height: 100%!important;
  overflow: hidden;
  width: 100% !important;
  top: 50px;
  bottom: 0;
  left: 0;
  right: 0;
  background-size: cover;
  background-color: black;
  /*background-image: url(assets/images/background-black.jpg)*/
}

.tileModal {
  margin: 0 auto!important;
  border: 0!important;
  padding: 0!important;
  height: 80vh!important;
  /*transform: translateY(-2.5vh);*/
  /*overflow: hidden;*/
  /*top: -5vh;*/
  background-size: cover;
  background-color: black;
}

.tileModalContent {
  text-align: center;
  color: red;
  background-color: black
}

.modalContent {
  text-align: center;
  color: red;
  background-color: black;
  border-radius: 5;
  margin: 0 auto;
  padding: 30px
}

/*.navBar {*/

/*  height: 10vh;*/

/*}*/

.menu {
  padding-top: 9px;
  display: inline-block;
  cursor: pointer;
}

.bodyContainer {
  /*background-color: blue;*/
}

.lowerBody {
  height: 85vh;
  overflow: hidden;
}

.sideBar {
  height: 80vh;
  /*background-color: teal;*/
}

.matSidebar {

  /*height: 80vh;*/
  padding-top: 5px !important;
  padding-bottom: 5px !important;
}

.side-adjust {
  padding-right: 5px
}

.sideBarContainer {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.content {
  padding-left: 0px !important;
  padding-right: 0px !important;
  height: 80vh;

  /*background-color: navy;*/
}

.contentImage {
  position: relative;
  height: 80vh;
  background-size: cover;
  /*background-image: url(assets/abstract.jpg);*/
  background-repeat: no-repeat;
  background-position: center;
  /*background-color: red;*/
  /*background-size: cover;
  */
  display: block;
  /*position: relative;*/
}

.tileImageContainer {
  width: 33.333%;
}

.tileImage {

  width: 100%;

  padding-top: 100%;
  background-size: cover;
}

/*.tileImage {
  */

/*  position: relative;*/

/*  z-index: 1;*/

/*  height: 10vh;*/

/*  padding-left: 100%;*/

/*  background-size: cover;*/

/*  background-repeat: no-repeat;*/

/*  background-position: center;*/

/*background-color: red;*/

/*background-size: cover;
  */

/*  display: block;*/

/*position: relative;*/

/*}*/

.contentText {
  padding-left: 0px !important;
  padding-right: 15px !important;
  position: relative;
  z-index: 2;
}

.tileDiv {
  padding-left: 0px !important;
  padding-right: 15px !important;
  height: 80vh;
}

.Title {
  padding-left: -20px;
  margin-left: -20px;

}

/*.fill {
  */

/*  height: 80vh;*/

/*}*/

.bar1,
.bar2 {
  width: 35px;
  height: 3px;
  background-color: #333;
  margin: 10px 0;
  transition: 0.5s;
}

.change1 {
  width: 35px;
  height: 3px;
  background-color: #333;
  margin: 6px 0;
  transition: 0.5s;
  transform: rotate(45deg)translate(6.5px, 6px)
}

.change2 {
  width: 35px;
  height: 3px;
  background-color: #333;
  margin: 6px 0;
  transition: 0.5s;
  transform: rotate(-45deg)
}

.redding {
  background-color: red;
}

.proTiles-appear {
  opacity: 0.01;
  /*transform: translateY(-100vh);*/
}

.proTiles-appear-active {
  opacity: 1;
  /*transform: translateY(0);*/
  transition: all 1000ms ease-out;
}

.proTiles-enter {
  opacity: 0.01;
  /*transform: translateY(-100vh);*/
}

.proTiles-enter-active {
  opacity: 1;
  /*transform: translateY(0);*/
  transition: all 1000ms ease-out;
}

.proTiles-exit {
  opacity: 1;
}

.proTiles-exit-active {
  opacity: 0.01;
  transition: opacity 1000ms ease-in;
}

.tileContainer {
  margin-top: 2.5vh;
}

.bevel {
  box-shadow: 6px 5px 8px -5px RGBA(0, 0, 0, 0.6),
  inset 3px 3px 5px 0px RGBA(255, 255, 255, 0.4),
  inset -13px -14px 10px -11px RGBA(0, 0, 0, 0.1);
}


.tileStyle {
  border-style: solid;
  border-color: transparent;
  /*outline-style: solid;
  */
  /*outline-color: red;*/
  /*margin: 2px;*/
  width: 32.3333%;
  float: left;
  transition: width 500ms, height 500ms, transform 500ms;
  margin: .5%;
}

.hoverBorder {
  border-style: solid;
  border-color: teal;
}

.tileExpand {
  border-style: solid;
  border-color: black;
  /*outline-style: solid;
  */
  /*outline-color: red;*/
  opacity: .5;
  /*display: flex;*/
  /*transform-origin: 84vw;*/
  /*height: 80vh;*/
  transform: translateX(var(--new-X));
  transition: height 2000ms;
}

/*.expandMe-appear {*/

/*  opacity: 0.01;*/

/*  height: inherit;*/

/*}*/

/*.expandMe-appear-active {*/

/*  opacity: 1;*/

/*  height: 80vh;*/

/*  transition: all 500ms ease-out;*/

/*}*/

/*.expandMe-enter {*/

/*  opacity: 0.01;*/

/*  height: inherit;*/

/*}*/

/*.expandMe-enter-active {*/

/*  opacity: 1;*/

/*  height: 80vh;*/

/*  transition: all 500ms ease-out;*/

/*}*/

/*.expandMe-exit {*/

/*  opacity: 1;*/

/*  transform: translateY(0);*/

/*}*/

/*.expandMe-exit-active {*/

/*  opacity: 0.01;*/

/*  transform: translateY(100vh);*/

/*  transition: all 500ms ease-in;*/

/*}*/

/*Tile CSS for delayed animations*/

.tile-appear {
  opacity: 0.01;
  transform: translateY(-100vh);
}

.tile-appear-active {
  opacity: 1;
  transform: translateY(0);
  transition: all 500ms ease-out;
}

.tile-enter {
  opacity: 0.01;
  transform: translateY(-100vh);
}

.tile-enter-active {
  opacity: 1;
  transform: translateY(0);
  transition: all 500ms ease-out;
}

.tile-exit {
  opacity: 1;
  transform: translateY(0);
}

.tile-exit-active {
  opacity: 0.01;
  transform: translateY(100vh);
  transition: all 500ms ease-in;
}

.modalMenu-enter {
  opacity: 0.01;
  transform: translateY(-100vh);
}

.modalMenu-enter-active {
  opacity: 1;
  transform: translateY(0);
  transition: all 2000ms ease-out;
}

.modalMenu-exit {
  opacity: 1;
}

.modalMenu-exit-active {
  opacity: 0.01;
  transition: opacity 2000ms ease-in;
}

.tileModal-enter {
  opacity: 0.01;
  transform: translateX(200vw);
}

.tileModal-enter-active {
  opacity: 1;
  transform: translateX(0);
  transition: all 2000ms ease-out;
}

.tileModal-exit {
  opacity: 1;
}

.tileModal-exit-active {
  opacity: 0.01;
  transition: opacity 2000ms ease-in;
}

/*.footer {*/

/*  position: fixed;*/

/*  bottom: 0;*/

/*  background-color: red;*/

/*  color: white;*/

/*  text-align: center;*/

/*}*/

/*.App {*/

/*  text-align: center;*/

/*}*/

/*.App-logo {*/

/*  animation: App-logo-spin infinite 20s linear;*/

/*  height: 80px;*/

/*}*/

/*.App-header {*/

/*  background-color: #222;*/

/*  height: 150px;*/

/*  padding: 20px;*/

/*  color: white;*/

/*}*/

/*.App-title {*/

/*  font-size: 1.5em;*/

/*}*/

/*.App-intro {*/

/*  font-size: large;*/

/*}*/

/*@keyframes App-logo-spin {*/

/*  from {*/

/*    transform: rotate(0deg);*/

/*  }*/

/*  to {*/

/*    transform: rotate(360deg);*/

/*  }*/

/*}*/

#logo {

  font-family: 'Orbitron', sans-serif;

}
